@page
@using Acme.BookStore.Permissions
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@using Acme.BookStore.Web.Pages.Categories.Category
@using Acme.BookStore.Localization
@using Acme.BookStore.Web.Menus
@model IndexModel
@inject IPageLayout PageLayout
@inject IHtmlLocalizer<BookStoreResource> L
@inject IAuthorizationService Authorization
@{
    PageLayout.Content.Title = L["Category"].Value;
    PageLayout.Content.BreadCrumb.Add(L["Menu:Category"].Value);
    PageLayout.Content.MenuItemName = BookStoreMenus.Category;
}

@section scripts
{
    <abp-script src="/Pages/Categories/Category/index.js" />
}
@section styles
{
    <abp-style src="/Pages/Categories/Category/index.css"/>
}

<abp-card>
    <abp-card-header>
        <abp-row>
            <abp-column size-md="_6">
                <abp-card-title>@L["Category"]</abp-card-title>
            </abp-column>
            <abp-column size-md="_6" class="text-end">
			    @if (await Authorization.IsGrantedAsync(BookStorePermissions.Category.Create))
                {
                <abp-button id="NewCategoryButton"
                            text="@L["CreateCategory"].Value"
                            icon="plus"
                            button-type="Primary" />
                }
            </abp-column>
        </abp-row>
    </abp-card-header>
    <abp-card-body>
        <abp-row class="mb-3">
            <a abp-collapse-id="CategoryCollapse" class="text-secondary">@L["TableFilter"] </a>
        </abp-row>
        <abp-dynamic-form abp-model="CategoryFilter" id="CategoryFilter" required-symbols="false" column-size="_3">
            <abp-collapse-body id="CategoryCollapse">
                <abp-form-content />
            </abp-collapse-body>
        </abp-dynamic-form>
        <hr />
        <abp-table striped-rows="true" id="CategoryTable" class="nowrap"/>
    </abp-card-body>
</abp-card>
